#!/usr/bin/env xdg-open
[Desktop Entry]
Name=FocusGuard
Comment=Linux focus lock — Once started, it cannot be stopped
Exec=focusguard gui
Icon=security-high
Terminal=false
Type=Application
Categories=Utility;Security;
Keywords=focus;lock;block;
StartupNotify=true
